In [1]:
import pandas as pd
import numpy as np

In [2]:
titanic=pd.read_csv('train.csv')
titanic

FileNotFoundError: [Errno 2] No such file or directory: 'train.csv'

Passenger ID: Passenger number
Survived: 0 for did not survive and 1 for survived
Pclass: Passenger travel class
Name: Name of the passenger
Sex: Sex/Gender of the passenger
Age: Age of the passenger
SibSp: Number of siblings and spouses aboard
Parch: Number of parents and children aboard
Ticket: Ticket number
Fare: The ticket price(in GBP)
Cabin: Cabin
Embarked: Embarkation point(C=Cherboug,Q=Queenstown,S=Southampton)

In [ ]:
titanic.head()

In [ ]:
titanic.tail()

In [ ]:
titanic.shape

In [ ]:
titanic.describe()

In [ ]:
titanic.isnull().sum()

Now to separate out the columns which have more than 35% values missing

In [ ]:
drop_col=titanic.isnull().sum()[titanic.isnull().sum()>0.35*titanic.shape[0]]
drop_col

Finding index of the column with more than 35% of null values

In [ ]:
drop_col.index

Now we drop the column ,'Cabin', as it has a large number of null values. We also replace the original data set with this altered dataset.

In [ ]:
titanic.drop(drop_col.index,axis=1,inplace=True)
titanic.head() #to ensure if our original data set has been altered

In [ ]:
titanic.isnull().sum()

Now lets look at other columns with null values. Instead of removing these columns, we replace these null values with the mean value of the entire column.

In [ ]:
titanic.fillna(value=titanic.mean(),inplace=True)

In [ ]:
titanic.isnull().sum()

As we can see the null values in the age column, have also been taken care of.

Now lets look at the column,'Embarked'. It has string values which includes 2 null values

In [ ]:
titanic.Embarked.describe()

As we observe,for  'Embarked' column, the most frequent value is 'S' and it occurs 644 times. We choose to replace our 2 null values with 'S'. Again with replace our original data set with this altered data set.

In [ ]:
titanic['Embarked'].fillna(value='S',inplace=True)

Again, we check our data set, if its free of every null values.

In [ ]:
titanic.isnull().sum()

Now its time to explore our data set. We start by checking if there is any correlation between the columns

In [ ]:
titanic.corr()

To make the data set more compact, we drop SibSp and Parch from the original data set. Instead we create a new column 'FamilySize' which includes values from both the columns,'Parch' and'SibSp'.

In [ ]:
titanic['FamilySize']=titanic['SibSp']+titanic['Parch']
titanic.drop(['SibSp','Parch'],axis=1,inplace=True)

In [ ]:
titanic.corr()

Now lets check if a person was alone or not,did it affect his survival chances?

In [ ]:
titanic['Alone']=[0 if titanic['FamilySize'][i]>0 else 1 for i in titanic.index]
titanic.head()

In [ ]:
titanic.groupby(['Alone'])['Survived'].mean()

As we see, the chances of survival were higher for a person who was travelling with his/her family.
However,is it possible, that a person travelling with family was probably richer(and prioritized over others during rescue operations) than the one travelling alone? Lets investigate further.

In [ ]:
titanic[['Alone','Fare']].corr()

The negative correlation shows that, the person travelling alone, had lower chances of buying higher fare tickets.

Now lets investigate if the person's gender affected his/her chances of survuval or not.

In [ ]:
titanic['Sex']=[0 if titanic['Sex'][i]=='male' else 1 for i in titanic.index]    #1 for female and 0 for male
titanic.groupby(['Sex'])['Survived'].mean()

This shows that female passengers had higher chances of survival than the males. Probably, the females and children were give priority, when the rescue opeartions started.

Did embarkation point also affect the survival chances? Lets investigate.

In [ ]:
titanic.groupby(['Embarked'])['Survived'].mean()

This shows that the passengers who embarked from Cherbourg, survived more, when compared to passengers from other embarkation points!

**Conclusions:**
****

*   Female passengers were prioritized over males.
*   People who paid higher fares, had higher chances if survival.

*   Passengers travelling with families had higher chances of survival

*   Passengers who boarded the ship at Cherbourg had higher survival  rate than from any other boarding point.

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
titanic.plot(subplots=True,figsize=(15,15),sharex=False,sharey=True)
plt.show()

In [ ]:
xticks=[x for x in range(0,900,50)]

In [ ]:
yticks=[y for y in range(0,80,10)]

In [ ]:
titanic.Age.plot(figsize=(15,15),xlim=(0,900),ylim=(0,80),xticks=xticks,yticks=yticks)
plt.grid()
plt.title('Titanic-Ages',fontsize=15)
plt.xlabel('Passenger number',fontsize=15)
plt.ylabel('Age',fontsize=15)

In [ ]:
titanic.plot(kind='scatter',figsize=(12,12),x='Age',xlim=(0,80),y='Fare',ylim=(0,100),c='Survived',colormap='viridis')
plt.style.use('seaborn')
plt.show()